<ul class="nav nav-tabs" id="myTab" role="tablist" >
  <li class="nav-item">
    <%=link_to 'Authors', authors_path, class: "nav-link"%>
  </li>
  
  <li class="nav-item">
    <%=link_to 'books', books_list_path, class: "nav-link" %>
  </li>
</ul>
